.profilo {
    margin: auto;
    width: 50%;
    background-color: #e3e4e6;
    background-size: 50%;
    
}
.intestazione {
    margin: auto;
    width: 50%;
}
h3{
    color: orange;
  
}
  
.autore{
    margin: auto;
    width: 50%;
  }