/*aggiunto sfondo grigio, aggiunto bordo*/
.profilo {
    
    background-color: #e3e4e6;
    background-size: 50%;
    text-align: center;
    border-bottom: 2px solid orange;
}

/*dichiaro il colore arancione a tutti i titoli secondari*/
h3{
    color: orange;
}
h4{
    font-family:'calibri';

    font-style: oblique;
}

            /*centrata firma copyright - aggiunto bordo superiore*/
.autore{
    text-align: center;
  
    Font-size: 10px;
    border-top: 1px solid orange; 
  }
  /* regolo i margini*/
  .contenitore {
    margin: auto;
    width: 50%;
  }